@if $show-after-mention == "true" {
  .mention::after {
    content: attr(data-emoji);
    display: inline;
  }
} @else {
  .mention::before {
    content: attr(data-emoji);
    display: inline;
  }
}
